.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    backface-visibility: hidden;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.ml-4 {
    margin-left: 4px;
}

.mr-4 {
    margin-right: 4px;
}

.m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.m-12 {
    flex: 0 0 100%;
    max-width: 100%;
}


.l-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

.l-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}






